:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
body {
  background-color: wheat;
  margin: 0;
  font-size: 1.2rem;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.add-book {
  background-color: dodgerblue;
  padding: 1rem 3rem;
  border: 0;
  margin: 0 0 15px 0;
  border-radius: 15rem;
  box-shadow: 2px 2px 2px grey;
  display: grid;
  color: wheat;
  font-weight: 900;
  font-size: 1.8rem;
}

button {
  cursor: pointer;
}

.book-card {
  background-color: white;
  color: dodgerblue;
  font-weight: 900;
  height: 18rem;
  border-radius: 15px;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
  box-shadow: 2px 2px 2px gray;

}

.book-title {
  height: 4rem;
  border-bottom: 2px solid wheat;
  text-align: center;
  display: grid;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  
}

.thumbnail {
  height: 6rem;
  width: 6rem;
  
}

@media (min-width: 400px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
  }
}