:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
body {
  background-color: wheat;
  margin: 0;
  font-size: 1.2rem;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

/* Book card Styling */
.add-book {
  background-color: dodgerblue;
  padding: 1rem 3rem;
  border: 0;
  margin: 0 0 15px 0;
  border-radius: 15rem;
  box-shadow: 2px 2px 2px grey;
  display: grid;
  color: wheat;
  font-weight: 900;
  font-size: 1.8rem;
}

.book-title {
  color: black;
}

button {
  cursor: pointer;
}

[class ^="book-card-"]{
  background-color: white;
  color: dodgerblue;
  font-weight: 900;
  height: 25rem;
  border-radius: 15px;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
  box-shadow: 2px 2px 2px gray;

}

.book-title {
  height: 4rem;
  border-bottom: 2px solid wheat;
  text-align: center;
  display: grid;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  
}

.thumbnail {
  height: 12rem;
  width: 10rem;
}

.thumbnail-container {
  display: grid;
  justify-content: center;
}

.btn-status {
  background-color: lightblue;
  padding: .5rem 1rem;
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 2px 2px 1px gray;
  margin: 0 10px ;
  color: red;
  font-weight: 900;
}

.btn-remove {
  background-color: transparent;
  border-radius: 10px;
  border: 0;
  color: white;
  font-weight: 900;
  
}

/* Modal styling */
dialog {
  border: 0;
  box-shadow: 2px 2px 2px 1px gray;
  background-color: #f4f4f5;
  opacity: .9;
  width: 50vw;
  justify-content: center;
  border-radius: 15px;
  margin-top: 100px;
}

input {
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
  border: 1px solid grey;
  outline: 0;
  text-align: center;
  padding: 10px;
  font-size: 1.8rem;
  color: dodgerblue;
}

input:focus{
  border: 1px solid dodgerblue;
}

dialog button {
  background-color: dodgerblue;
  padding: 1rem 4rem;
  width: 100%;
  margin: 10px 0 0 0;
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray;
  color: #f4f4f5;
  font-size: 1.8rem;
  font-weight: 900;
}

dialog button:hover {
  background-color: lightblue;
  transition: all 0.3s ease-in-out;
}
/* Media queries */
@media (min-width: 400px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-container {
      grid-template-columns: repeat(4, 1fr);
  }
}
